body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: white;
}

.grid-square:hover {
    background-color: gray;
}